{% extends 'layout.html' %}

{% block content %}
{{ super() }}
<div class="col-md-12 pre-text">
Ваши загруженные файлы
</div>
<div class="col-md-12 center-text">

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя файла</th>
      <th scope="col">Дата</th>
      <th scope="col">Нормированно адресов</th>
      <th scope="col">Нераспознано</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    <tr>
      <th scope="row">{{ loop.index0+1 }}</th>
        <td><a href="/file/{{file.id}}">{{file.name}}</a>
                {% if file.status == 'upload' %}
                  <span class="badge badge-info">загружен</span>
                {% elif file.status == 'proceed' %}
                   <span class="badge badge-secondary">обработка</span>
                {%endif%}
      <td>{{file.created_date}}</td>
      <td>{{file.processed}}
      </td>
      <td>{{file.failed}}</td>
       <td>
           {% if file.status == 'upload' %}
           {% elif file.status == 'proceed' %}
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
           </div>
           {%endif%}
           {% if file.status == 'done' %}
           <a href="/download/{{file.id}}">Скачать</a>
           {%endif%}


        </td>

    </tr>
    {% endfor %}
  </tbody>
</table>



</div>
{% endblock %}
