{% extends 'layout.html' %}

{% block content %}
{{ super() }}
<div class="col-md-12 pre-text">
Перетащите вашу базу адресов сюда
</div>
<div class="col-md-12 center-text">
    <form action="#" enctype="multipart/form-data">
    <button class="ellipse" id="upload-btn"></button>
    <input type="file" id="imgupload" style="display:none" name="file" />
    </form>
</div>
<div class="col-md-12 bottom-text">
    <div>
    или <a href="#">загрузите файл со своего компьютера *</a>
    <p>* Вы можете загружать только файлы в xlsx и csv форматах</p>
    </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script type="application/javascript">
$(document).ready(function(){
    console.log('ok ready');

    $('#upload-btn').click(function () {
        $('#imgupload').trigger('click');
    });

    $('#imgupload').change(function() {
        console.log('update' + $('#imgupload').val())

        var data = new FormData();
            $.each($('#imgupload')[0].files, function(i, file) {
                data.append('file', file);
        });



        $('#upload-btn').css('background-image','none');
        $('#upload-btn').empty();
        $('#upload-btn').append("10%");

        $('#imgupload').val('')
        $('#upload-btn').blur();


        $.ajax({
            url: '/upload',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: 'POST', // For jQuery < 1.9
         }).done(function (data) {
            $('#upload-btn').empty();
            $('#upload-btn').append("100%");
            console.log(data)
            if (data.msg == 'done') {
                window.location.href = data.url;
            }else{
                $('#upload-btn').empty();
                $('#upload-btn').append(data.msg);
            }
        }).fail(function (data) {
            console.log('fail');
            $('#upload-btn').empty();
            $('#upload-btn').append("Ошибка");
        });







    });


});



</script>
{% endblock %}